* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

.searchText {
  list-style: none;
  margin: 12px;
}

.searchText li {
  padding: 0.8rem 1.6rem;
  background-color: #999;
}
